%h3.title-module.wall Modification du mot de passe

= simple_form_for current_employee, :wrapper => :inline, :url => profile_path do |f|

  = f.input :current_password, :label => "MdP actuel"
  = f.input :password
  = f.input :password_confirmation

  = f.submit "Enregistrer", class: "btn primary"